# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars.backup
tfplan*
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Lambda package
lambda_function.zip

# Crash logs
crash.log
crash.*.log

# CLI config
.terraformrc
terraform.rc
